@import "../../../partials/responsives";

.loader {
  position: fixed;
  width: 100%;
  height: 3px;
  background-color: #e5e7eb;
  overflow: hidden;
  .loader-bar {
    position: relative;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    background-color: #3662e3;
    animation: slide .5s linear infinite;
    -webkit-animation: slide .5s linear infinite;
  }
}

@keyframes slide {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes slide {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}
