@import "../../partials/responsives";

.container {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #f8fafc;
  border-radius: 10px;
  @media (width <= 1024px) or (height <= 500px) {
    border-radius: 0;
  }
  position: relative;
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon-wrapper {
        border: 1px solid #00000033;
        background-color: #f8fafc;
      }
    }
    .input-zones {
      display: flex;
      flex-direction: column;
      @include mobileLandscape {
        flex-direction: row;
      }
      flex-wrap: wrap;
      gap: 15px;
      .zone {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex: 1;
        .task {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .label {
            font-size: small;
            color: #97a3b6;
          }
          &.icon {
            .icon-wrapper {
              background-color: #00000033;
            }
          }
          &.name > input,
          &.desc > textarea {
            border: 1px solid #97a3b6;
            padding: 10px;
            border-radius: 5px;
            &::placeholder {
              color: #97a3b6;
            }
            &:focus {
              outline: 1px solid #3662e3;
            }
            &#name.ng-touched.ng-invalid {
              border: 1px solid #e74c3c;
            }
            &#desc {
              resize: none;
              height: 150px;
            }
          }
          .input {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            & > input:checked + .icon-wrapper {
              background-color: #f5d565;
            }
            & > input:checked + .status-wrapper {
              border: 2px solid #3662e3;
              & > img {
                display: flex;
              }
            }
            .status-wrapper {
              display: flex;
              align-items: center;
              gap: 10px;
              width: 48%;
              border-radius: 10px;
              border: 2px solid #97a3b6;
              padding: 1px;
              cursor: pointer;
              .status-label {
                flex: 2;
              }
              & > img {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #3662e3;
                margin-right: 5px;
                display: none;
              }
            }
          }
        }
      }
    }
    .foot {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;
      .buttons {
        width: inherit;
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        height: 30px;
        button {
          padding: 0 20px;
          display: flex;
          align-items: center;
          gap: 5px;
          border: 0;
          border-radius: 15px;
          background-color: #3662e3;
          color: #f8fafc;
          cursor: pointer;
          &.delete {
            background-color: #97a3b6;
          }
          &:disabled {
            cursor: not-allowed;
            background-color: darkgray;
          }
        }
      }
    }
  }
}
